@font-face {
    font-family: 'Bungasai';
    src: url(../fonts/Bungasai.ttf);
}

h1 {
    font-family: 'Bungasai';
    font-size: 6em;
}

.btn-eliminar:hover {
    background-color: #DC3545;
}

.btn-enviar:hover {
    background-color:green;
}