@font-face {
    font-family: 'Bungasai';
    src: url(../fonts/Bungasai.ttf);
}

h1 {
    font-family: 'Bungasai';
    font-size: 6em;
}

input {
    background-color: #D1E7DD;
    border: none;
    border-bottom: 1px dotted;
    text-align: center;
}

input:focus {
    border: none;
}

.btn-eliminar:hover {
    background-color: #DC3545;
}

.btn-enviar:hover {
    background-color:green;
}