@font-face {
    font-family: 'Bungasai';
    src: url(../fonts/Bungasai.ttf);
}

h1 {
    font-family: 'Bungasai';
    font-size: 6em;
}

input {
    background-color: #D1E7DD;
    border: none;
    border-bottom: 1px dotted;
    text-align: center;
}

input:focus {
    border: none;
}

.btn-eliminar, .btn-modificar {
    background-color: #C7DBD2 !important;
}

.btn-modificar:hover {
    background-color: rgb(42, 1, 72) !important;
}

.btn-eliminar:hover {
    background-color: #DC3545 !important;
}


@media (min-width: 1000px) {

    #btn-agregar::before {
        content: "Añadir "
    }

    .btn-modificar::before {
        content: "Modificar "
    }

    .btn-eliminar::before {
        content: "Eliminar "
    }
}

@media (max-width: 1000px) {
    .btn-modificar, .btn-eliminar {
        width: 42px;
    }
}